html * {
	font-size: 1em;
	font-family: Arial !important;
}

html, body{
	height: 100%;
	margin: 0;
	overflow: hidden;
}

table {
	border: 0px solid black;
	border-spacing: 0px;
	border-collapse: collapse;
}

h2 {
	font-size: 1.3em;
	margin-top: 0.83em;
	margin-bottom: 0.2em;
}

h3 {
	font-size: 1.1em;
	margin-top: 0.5em;
	margin-bottom: 0.2em;
}

td {
	border: 1px solid black;
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

#mainContainer {
	width: 100%;
	height: 100%;
}

#div_tree {
	width: 33%;
	height: 100%;
	float: left;
	overflow: auto;
}

.verticalSeparator {
	float: left;
	height: 100%;
	width: 0.3%;
	background-color: #A0A0A0;
}

#div_main {
	width: auto;
	height: 100%;
	margin: 0;
	padding: 10px;
	overflow: auto;
}

#rightAnchor {
	height: 100%;
	float: right;
	margin: 0;
}

.link {
	color: #0000FF;
}


.link:hover {
	background-color: #DDFF99;
	cursor: pointer;
}

.note {
/*	color: #004C5F;*/
	text-decoration-line: underline;
	text-decoration-style: dashed;
	text-decoration-color: #008fb3;
	cursor: pointer;
}

.error {
/*	color: #004C5F;*/
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: #8f0000;
}


.note:hover {
	background-color: #DDFF99;
}


.blue_bg {
	background-color: #00CCFF;
}

.gray_bg {
	background-color: #DDDDDD;
}

.notificationBar {
	position: fixed;
	text-align: left;
	font-size: 0.75em;
	padding: 8px;
	bottom: 0px;
	left:0px;
	width: 100%;
	z-index: 10;
	pointer-events: none;
}

.copyright {
	position: fixed;
	text-align: right;
	font-size: 0.75em;
	padding: 8px;
	bottom: 0px;
	right:0px;
	z-index: 10;
}

.miniview {
	border: 3px solid #CCCCCC;
	color: #000000;
	background-color: #FFFFFF;
	position: absolute;
	text-align: left;
	font-size: 0.75em;
	padding: 8px;
	transform: scale(0.8);
	transform-origin: top left;
	opacity: 0.9;
	z-index: 20;
	float: none;
	display: none;
}

.comment {
	border: 3px solid #FFCC00;
	background-color: #FFDD99;
	display: none;
	position: absolute;
	text-align: left;
	font-size: 0.75em;
	padding: 8px;
}
